{% extends "base.html" %}
{% load static %}

{% block page_header %}{% endblock %}

{% block content %}
    {% include 'includes/search-bar.html' %}

    <div class="row m-0">
            <div class="col-12 col-lg-6">
                <h2>What do you want to do?</h2>
                <div class="row">
                    <div class="col">
                        <h3>Want to sell?</h3>
                        <p>Sign up as a seller, and use this site as you personal store. 
                        Set your own prices, manage customer interactions.......</p>
                    </div>
                </div>
                <div class="row">
                    <div class="col">
                        <h3>Want to buy?</h3>
                        <p>Sign up as a standard user, and  and use this site as you personal store. 
                        Set your own prices, manage customer interactions.......</p>
                    </div>
                </div>
            </div>
            <div class="col-12 col-lg-6">
                <a data-fancybox="gallery" href="big_1.jpg">
                    <img src="small_1.jpg">
                </a>
                <a data-fancybox="gallery" href="big_2.jpg">
                    <img src="small_2.jpg">
                </a>
            </div>
    </div>
    
{% endblock %}