{% extends "base.html" %}
{% load static %}

{% block page_header %}{% endblock %}

{% block view_all %}
    {% include 'includes/view_all.html' %}
{% endblock %}

{% block content %}
    <div class="row m-0">
        <div class="col-12 col-lg-6">
            <div class="row">
                <div class="col">
                    <h2 class="text-center">What we do?</h2>
                    <p>
                        Overview of site.....
                    </p>
                </div>
            </div>
            <div class="row">
                <div class="col col-md-6">
                    <h3 class="text-center">Want to show off?</h3>
                    <p>
                        Sign up as a seller, and use this site as you personal 
                        store. Set your own prices, manage customer interactions...
                    </p>
                    <button class="btn">Sign Up</button>
                    <button class="btn">Log In</button>
                </div>
                <div class="col col-md-6">
                    <h3 class="text-center">Want to be impressed?</h3>
                    <p>
                        Search through all the images on the site, pick the 
                        ones you want. Then use our secure checkout to place your 
                        order. Sign up as a standard user, and
                    </p>
                    <button class="btn">Sign Up</button>
                    <button class="btn">Log In</button>
                </div>
            </div>
        </div>
        <div class="col-12 col-lg-6">
            <div class="row">
                <div class="col">
                    <h2 class="text-center">Top 5 Images</h2>
                </div>
            </div>
            <div class="row">            
                {% for i in images %}
                    <div class="col-sm-6 col-md-6 col-lg-4 col-xl-4">  
                        <div class="card mx-auto my-auto" style="width: 15rem; height: 21rem;">
                            <a class="mx-auto" data-fancybox="gallery" href="{{ i.image.url }}">
                                <img class="img-fluid mt-3" src="{{ i.tmnl_img.url }}" width="160" height="106">
                            </a>
                            <div class="card-body">
                                <table>
                                    <tr>
                                        <th>Title: {{ i.img_title }}</th>
                                    </tr>
                                    <tr>
                                        <td>Taken by: {{ i.user_id }}</td>
                                    </tr>
                                </table>
                            </div>
                        </div>
                    </div>
                {% endfor %}
            </div>
        </div>
    </div>
{% endblock %}