{% extends 'base.html' %}
{% load static %}

{% block page_header %}{% endblock %}

{% block content %}
    <div class="overlay"></div>
    <div class="container">
        <div class="row">
            <div class="col">
                <hr>
                <h2>My Profile</h2>
                <p>Username: <strong>{{ user }}</strong></p>
                <p>Email: <strong>{{ user.email }}</strong></p>
                {% if seller == True %}
                    <a href="{% url 'all_user_images' %}" class="btn btn-site">
                        <span class="icon">
                            <i class="far fa-images"></i>
                        </span>
                        <span>My Images</span>
                    </a>
                {% endif %}
                <hr>
            </div>
        </div>
        <div class="row">
            <div class="col-12 col-lg-4">
                <h5>Default Delivery Details</h5>
                <form class="" action="{% url 'profile' %}" method="POST" id="">
                    {% csrf_token %}
                    {{ form|crispy }}
                    <button class="btn">Update Information</button>
                </form>
            </div>
            <div class="col-12 col-lg-8">
                <h5>Order History</h5>
                <table class="table">
                    <thead>
                        <tr>
                            <th>Order number</th>
                            <th>Date</th>
                            <th>Items</th>
                            <th>Order Total</th>
                        </tr>
                    </thead>
                    <tbody>

                        {% for order in orders %}
                            <tr>
                                <td>
                                    <a href="{% url 'order_history' order.order_number %}"
                                     title="{{ order.order_number }}" class="btn btn-site" >
                                        {{ order.order_number|truncatechars:6 }}
                                     </a>
                                </td>
                                <td>{{ order.date }}</td>
                                <td>
                                    <ul>
                                        {% for item in order.orderitems.all %}
                                            <li>{{ item.image.img_title }}</li>
                                        {% endfor %}
                                    </ul>
                                </td>
                                <td>{{ order.order_total }}</td>
                            </tr>
                        {% endfor %}
                    </tbody>
                </table>
            </div>
        </div>
    </div>
{% endblock %}