{% extends "base.html" %}
{% load static %}

{% block extra_css %}
    <link rel="stylesheet" href="{% static 'images/css/image.css' %}">
{% endblock %}

{% block extra_title %} - Images {% if search_term %}  ({{ search_term }}) {% endif %} {% endblock %}

{% block page_header %}{% endblock %}

{% block content %}
    {% include 'includes/search_filter.html' %}
    <div class="overlay"></div>
    <div class="container-fluid">
        <div class="row">
            <div class="image-container col-10 offset-1">
                <div class="row">
                    <div class="col-12">
                        {% if search_term %}
                            <h2>Search Results...</h2>
                            {% if images|length > 1 %}
                                <h5>{{ images|length }} images found for Search query : &lsquo;{{ search_term }}&rsquo;</h5>
                            {% else %}
                                <h5>Only {{ images|length }} image found for Search query : &lsquo;{{ search_term }}&rsquo;</h5>
                            {% endif %} 
                        {% else %} 
                            <h2>All Images</h2>
                            {% if images|length > 1 %}  
                                <h5>{{ images|length }} images found</h5>
                            {% else %}
                                <h5>Only {{ images|length }} image found </h5>
                            {% endif %}        
                        {% endif %}
                        {% if current_sorting != "None_None" %}
                            <h6>{{ current_sorting }}</h6>
                        {% endif %}
                    </div>
                    {% for i in images %}
                        <div class="col-sm-6 col-md-6 col-lg-4 col-xl-3 mb-5">
                            {% include 'images/includes/image_card.html' %}
                        </div>
                    {% endfor %}
                </div>
            </div>
        </div>
    </div>
{% endblock %}

{% block post_load_js %}
    {{ block.super }}
    <script src="{% static 'js/sort.js' %}"></script>
{% endblock %}
