<div class="card mx-auto my-auto" style="width: 15rem; height: 21rem;">
    <a class="mx-auto" data-fancybox="gallery" 
        href="{{ i.prev_img.url }}" title="{{ i.img_title }}" 
        data-caption=
        "{{ i.img_title }} by {{ i.user_id }}
        {% if i.img_data_id.city != 'N/A' or i.img_data_id.country != '' %}<br>{% endif %}
        {% if i.img_data_id.city and i.img_data_id.city != 'N/A' %}
            {{ i.img_data_id.city }},
        {% endif %} 
        {% if i.img_data_id.country and i.img_data_id.country != '' %}
            {{ i.img_data_id.country }}
        {% endif %} 
        <br> {{ i.img_taken }}">
        <img class="img-fluid mt-3" src="{{ i.tmnl_img.url }}" width="160" height="106">
    </a>
    <div class="card-body">
        <table>
            <tr>
                <th>Title: {{ i.img_title }}</th>
            </tr>
            <tr>
                <td>Taken by: 
                    <a href="{% url 'user_images' i.user_id %}" class="">{{ i.user_id }}</a>
                </td>
            </tr>
            <tr>
                <td id="rating" class="">
                    <span class="fa fa-star star-1"></span>
                    <span class="fa fa-star star-2"></span>
                    <span class="fa fa-star star-3"></span>
                    <span class="fa fa-star star-4"></span>
                    <span class="fa fa-star star-5"></span>
                </td>
            </tr>
        </table>
    </div>
    <div class="card-footer">
        <form class="form" action="{% url 'add_to_bag' i.id %}" method="POST">
            {% csrf_token %}
            <div class="form-row">
                <div class="col-6 form-col">
                    <input class="form-control qty_input" type="number"
                    name="quantity" value="1" min="1" max="99"
                    data-item_id="{{ i.id }}"
                    id="id_qty_{{ i.id }}">
                </div>
                <div class="col-6 form-col">
                    <input type="submit" class="btn btn-site" value="Add to Bag">
                </div>
            </div>
            <input type="hidden" name="redirect_url" value="{{ request.path }}">
        </form>
    </div>
</div>