{% extends "base.html" %}
{% load static %}

{% block page_header %}
{% endblock %}

{% block content %}
    <div class="overlay"></div>
    <div class="container">
        <div class="row">
            <div class="col">
                <hr>
                <h2>Thank you!</h2>
                <hr>
                <p>
                    Your order information is below. A confirmation 
                    email will be sent to <strong>{{ order.email }}</strong>.
                </p>
                <hr>
            </div>
        </div>
        <div class="row">
            <div class="col">
                <div>
                    <div class="row">
                        <div class="col">
                            <h2>Order Info:</h2>
                        </div>
                    </div>
                    <div class="row">
                        <div class="col-12 col-md-8">
                            <table class="table">
                                <tr>
                                    <th>Order Number:</th>
                                    <td class="text-left">{{ order.order_number }}</td>
                                </tr>
                                <tr>
                                    <th>Order Date:</th>
                                    <td class="text-left">{{ order.date }}</td>
                                </tr>
                                <tr>
                                    <th>Image(s) Ordered:</th>
                                    <td>
                                        {% for i in order.orderitems.all %}
                                            <div class="row mb-1">
                                                <div class="col-12 col-md-7 text-left">
                                                    {{ i.image.img_title }} x{{ i.quantity }} @ €{{ i.image.base_price }} each.
                                                </div>
                                                <div class="col-12 col-md-5 text-center">
                                                    <img src="{{ i.image.tmnl_img.url }}" alt="{{ i.image.img_title }}">
                                                </div>
                                            </div>
                                            <div class="row mb-1">
                                                <div class="col text-center">
                                                    {% if i.feedback == False %}
                                                        <a href="" class="btn btn-site">
                                                            <span class="icon">
                                                                <i class="far fa-comments" aria-hidden="true"></i>
                                                            </span>
                                                            <span>Rate & Leave a Comment</span>
                                                        </a>
                                                    {% else %}
                                                        
                                                    {% endif %}
                                                </div>
                                            </div>
                                        {% endfor %}
                                    </td>
                                </tr>
                                <tr>
                                    <th>Total:</th>
                                    <td class="text-left">€{{ order.order_total }}</td>
                                </tr>
                                <tr>
                                    <th>Address:</th>
                                    <td class="text-left">
                                        {{ order.full_name }}<br/>
                                        {{ order.street1 }}<br/>
                                        {% if order.street2 %}
                                            {{ order.street2 }}<br/>
                                        {% endif %}
                                        {{ order.town_city }}<br/>
                                        {{ order.county }}<br/>
                                        {{ order.post_code }}<br/>
                                        {{ order.country }}<br/>
                                    </td>
                                </tr>
                                <tr>
                                    <th>Email:</th>
                                    <td class="text-left">{{ order.email }}</td>
                                </tr>
                            </table>
                        </div>
                    </div>
                </div>
            </div>
        </div>
    </div>
{% endblock %}