{% extends "base.html" %}
{% load static %}

{% block extra_css %}
    <link rel="stylesheet" href="{% static 'checkout/css/checkout.css' %}">
{% endblock %}

{% block page_header %}{% endblock %}

{% block content %}
    <div class="overlay"></div>
    <div class="container">
        <div class="row">
            <div class="col">
                <hr>
                <h2>Rate and Comment</h2>
                <hr>
                <p>
                    Help other users find amazing images by leaving a comment 
                    and a rating. We would ask that if you are experinecing 
                    issues with a purchase, please contact the seller directly 
                    to try sort out before leaving a negative comment or 
                    rating. Problems and misunderstandings occur, and on most 
                    occasions they can be resolved to everyone's satisfaction.
                </p>
                <hr>
            </div>
        </div>
        <div class="row">
            <div class="col">
                <h4>Leave a Comment for {{ item.image.img_title }} by {{ item.image.user_id }}</h4>
                <form class="" action="{% url 'leave_rating' item.order item.image %}" method="POST" id="">
                    {% csrf_token %}
                    {{ form.comment | as_crispy_field }}
                    <hr>
                    <h4 class="text-center">How many Stars?</h4>
                    {{ form.rating.as_hidden }}
                    <div class="star text-center">
                        <span id="star-1" class="fa fa-star"></span>
                        <span id="star-2" class="fa fa-star"></span>
                        <span id="star-3" class="fa fa-star"></span>
                        <span id="star-4" class="fa fa-star"></span>
                        <span id="star-5" class="fa fa-star"></span>
                    </div>
                    <hr>
                    <button class="btn btn-site mr-auto">Add</button>
                    {{ form.feedback.as_hidden }}
                </form>
            </div>
        </div>
    </div>
{% endblock %}

{% block post_load_js %}
    {{ block.super }}
    <script src="{% static 'checkout/js/rating.js' %}"></script>
{% endblock %}