@import url('https://fonts.googleapis.com/css?family=Roboto:100,200,300,400,500,600,700|Exo:100,200,300,400,500,600,700');

a {
    font-weight: 500;
}

a:hover {
    text-decoration: none;
}

body {
    background: url('/media/Test1.jpg') no-repeat center center fixed;
    background-size: cover;
    color: #2f003d;
    font-family: "Roboto", sans-serif;
    height: calc(100vh - 82px);
}

html {
    height: 100%;
    width: 100%;
}

.bg-image {
    background: url('/media/Test1.jpg') no-repeat center;
    background-size: 100%;
    background-color: #2f003d;
}

.bg-color {
    background-color: #2f003d;
}

.blurb {
    background-color: #f7faef;
}

.btn-card,
.btn-search {
    background-color: #598392;
    color: #f7faef;
}

.btn-card:hover,
.btn-card:active,
.btn-card:focus,
.btn-search:hover,
.btn-search:active,
.btn-search:focus {
    background-color: #aec9b0;
    color: #598392;
}

.btn-home-pg {
    background-color: #2f003d;
    color: #f7faef;
    min-width: 15rem;
    min-height: 2rem;
}

.btn-home-pg:hover {
    background-color: #aec3b0;
    color: #598392;
}

.btn-site {
    background-color: #2f003d;
    color: #f7faef;
}

.btn-site:hover {
    background-color: #aec3b0;
    color: #598392;
}

.card {
    background-color: #f7faef;
}

.checked {
    color: gold;
}

.container-fluid {
    margin: 0;
    padding: 0;
}

.logo-font {
    text-transform: uppercase;
}

.overlay {
	height: 100%;
	width: 100%;
	top: 0;
	left: 0;
	position: fixed;
	background: rgba(255, 255, 255, .75);
	z-index: -8888;
}

.row {
    margin: 0;
}

.search-row {
    background-color: #2f003d;
}

.table-text {
    color: #2f003d;
}

.text-ivory {
    color: #f7faef;
}

/* Allauth form formatting */
.allauth-form-inner-content p {
    margin-top: 1.5rem; /* mt-4 */
    color: #598392;
}

.allauth-form-inner-content input {
    border-color: #598392;
    border-radius: 10;
}

.allauth-form-inner-content label:not([for='id_remember']) {
    display: none;
}

.allauth-form-inner-content input::placeholder {
    color: #aec3b0;
}

.allauth-form-inner-content button,
.allauth-form-inner-content input[type='submit'] {
	/* btn */
	display: inline-block;
    font-weight: 400;
    color: #f7faef;
    text-align: center;
    vertical-align: middle;
    -webkit-user-select: none;
    -moz-user-select: none;
    -ms-user-select: none;
    user-select: none;
    background-color: #2f003d;
    border: 1px solid #598392;
    padding: .375rem .75rem;
    font-size: 1rem;
    line-height: 1.5;
    border-radius: 0;

    /* standard bootstrap btn transitions */
    transition: color .15s ease-in-out,background-color .15s ease-in-out,border-color .15s ease-in-out,box-shadow .15s ease-in-out;
}

.allauth-form-inner-content button:hover,
.allauth-form-inner-content input[type='submit']:hover {	
	color: #598392;
    background-color: #aec3b0;
    border-color: #598392;
}

.allauth-form-inner-content a {
	color: #2f003d; /* text-info */
}

.allauth-form-inner-content a:hover {
	color: #598392; /* text-info */
}

/* bootstrap toasts */

.message-container {
    position: fixed;
    top: 72px;
    right: 15px;
    z-index: 999999;
}

.custom-toast {
    overflow: visible;
}

.toast-capper {
    height: 2px;
}

/* from CSS-tricks.com: https://css-tricks.com/snippets/css/css-triangle/ */
.arrow-up {
    width: 0; 
    height: 0; 
    border-left: 4px solid transparent;
    border-right: 4px solid transparent; 
    border-bottom: 10px solid black;
    position: absolute;
    top: -10px;
    right: 36px;
}

/* Convenience classes - colors copied from Bootstrap */
.arrow-primary {
    border-bottom-color: #007bff !important;
}

.arrow-secondary {
    border-bottom-color: #6c757d !important;
}

.arrow-success {
    border-bottom-color: #28a745 !important;
}

.arrow-danger {
    border-bottom-color: #dc3545 !important;
}

.arrow-warning {
    border-bottom-color: #ffc107 !important;
}

.arrow-info {
    border-bottom-color: #17a2b8 !important;
}

.arrow-light {
    border-bottom-color: #f8f9fa !important;
}

.arrow-dark {
    border-bottom-color: #343a40 !important;
}