html {
    height: 100%;
}

body {
    background-color: #7D6F86;
}

header {
    background: url('/media/Test1.jpg') no-repeat center;
    background-size: cover;
    height: 15vh;
}

.bg-prp {
    background-color: #2F003D;
}
.border-search {
    background-color: #7D6F86;
    color: #2F003D;
    border: #2F003D;
}

.btn-search {
    background-color: #2F003D;
    color: #F0EDEE;
    border: #2F003D;
}

.btn-search:hover {
    background-color: #7D6F86;
    color: #2F003D;
    border: #F0EDEE;
}

.dropdown-item {
    background-color: #2F003D;
    color: #F0EDEE;
}

.dropdown-item:hover {
    background-color: #7D6F86;
    color: #2F003D;
}

.btn-site {
    background-color: #2F003D;
    color: #F0EDEE;
}

.btn-site:hover {
    background-color: #7D6F86;
    color: #2F003D;
}

.logo-font {
    color: #F0EDEE;
}

.text-light {
    color: #F0EDEE;
}

.card,
.card-body {
   background-color: #F0EDEE;
   color: #2F003D;
}
