{% extends "base.html" %}
{% load static %}
{% load tools %}

{% block page_header %}{% endblock %}

{% block content %}
    <div class="overlay"></div>
    <div class="container">
        <div class="row">
            <div class="col">
                <hr>
                <h2>Shopping Bag</h2>
                <hr>
            </div>
        </div>
        <div class="row">
            <div class="col">
                {% if bag_images %}
                    <div class="d-block">
                        <div class="row">
                            <div class="col">
                                {% include 'shopping_bag/bag_total.html' %}
                                
                            </div>
                        </div>
                        {% for image in bag_images %}
                            <div class="row">
                                <div class="col-6">
                                    {% include 'shopping_bag/bag_image.html' %}
                                </div>
                                <div class="col-6">
                                    {% include 'shopping_bag/bag_image-info.html' %}
                                </div>
                            </div>
                            <hr>
                        {% endfor %}
                        <div class="row">
                            <div class="col">
                                {% include 'shopping_bag/bag_buttons.html' %}
                            </div>
                        </div>
                    </div>
                {% else %}
                    <p>You have not selected anything.</p>                    
                    <a href="{% url 'all_images' %}" class="btn">
                        <span class="">
                            <i class="fas fa-binoculars"></i>
                        </span>
                        <span>Keep Looking.</span>
                    </a>
                {% endif %}
            </div>
        </div>
    </div>
{% endblock %}

{% block post_load_js %}
{{ block.super }}

    {% include 'images/includes/quantity_script.html' %}

    <script type="text/javascript">
        // update quantity
        $('.update').click(function(e) {
            var form = $(this).prev('.update-form');
            form.submit();
        });

        // remove item
        $('.delete').click(function(e) {
            var csrfToken = "{{ csrf_token }}";
            var imageId = $(this).attr('id').split('del_')[1];
            var url = `/shopping_bag/remove/${imageId}/`;
            var data = {'csrfmiddlewaretoken': csrfToken};

            $.post(url, data).done(function() {
                location.reload();
            });
        })
    </script>
{% endblock %}