{% extends "base.html" %}
{% load static %}

{% block page_header %}{% endblock %}

{% block content %}
    <div class="overlay"></div>
    <div class="container">
        <div class="row">
            <div class="col">
                <hr>
                <h2>Shopping Bag</h2>
                <hr>
            </div>
        </div>
        <div class="row">
            <div class="col">
                {% if bag_images %}
                    <div class="d-block">
                        <div class="row">
                            <div class="col">
                                {% include 'shopping_bag/bag_total.html' %}
                            </div>
                        </div>
                        {% for image in bag_images %}
                            <div class="row">
                                <div class="col-6">
                                    {% include 'shopping_bag/bag_image.html' %}
                                </div>
                                <div class="col-6">
                                    <table>
                                        <tr>
                                            <td><strong>Title: </strong></td>
                                            <td>{{ image.image.img_title }}</td>
                                        </tr>
                                        <tr>
                                            <td><strong>Image Price: </strong></td>
                                            <td>€{{ image.image.base_price }}</td>
                                        </tr>
                                        <tr>
                                            <td><strong>Quantity: </strong></td>
                                            <td>
                                                <input class="form-control qty_input" type="number"
                                                name="quantity" value="{{ image.quantity }}" min="1" max="99"
                                                data-item_id="{{ image.image.id }}"
                                                id="id_qty_{{ image.image.id }}">
                                            </td>
                                        </tr>
                                    </table>
                                </div>
                            </div>
                            <hr>
                        {% endfor %}
                        <div class="row">
                            <div class="col">
                                {% include 'shopping_bag/bag_buttons.html' %}
                            </div>
                        </div>
                    </div>
                {% else %}
                    <p>You have not selected anything.</p>                    
                    <a href="{% url 'all_images' %}" class="btn">
                        <span class="">
                            <i class="fas fa-binoculars"></i>
                        </span>
                        <span>Keep Looking.</span>
                    </a>
                {% endif %}
            </div>
        </div>
    </div>
{% endblock %}