<form class="form update-form" method="POST" action="">
    {% csrf_token %}
    <div class="form-group">
        <div class="input-group">
            <div class="input-group-prepend">
                <button class="dec-qty btn">
                    <span>
                        <i class="fas fa-chevron-down fa-sm"></i>
                    </span>
                </button>
            </div>
            <input class="form-control qty-input" type="number" 
                name="quantity" id="id_qty_{{ image.image_id }}" 
                data-item_id="{{ image.image_id }}" 
                min="1" max="99" value=" {{ image.quantity }}">
            <div class="input-group-append">
                <button class="inc-qty btn">
                    <span>
                        <i class="fas fa-chevron-up fa-sm"></i>
                    </span>
                </button>
            </div>
        </div>
    </div>
</form>
<a class="update text-info" href=""><small>Update</small></a> | 
<a class="delete text-danger" id="del_{{ image.image_id }}"><small>Remove</small></a>