<!--
      The below code for the Navbar is taken from W3Schools at the following link:
      https://www.w3schools.com/bootstrap4/bootstrap_navbar.asp
-->
<nav class="navbar navbar-expand-lg bg-image navbar-dark m-0">
    <!-- brand -->
    <a href="{% url 'home' %}" class="navbar-brand logo-font"><h1><strong>AstroPrint</strong>.com</h1></a>
    <!-- toggler/collapsible button -->
    <button class="navbar-toggler" type="button" data-toggle="collapse" data-target="#collapsibleNavbar">
        <span class="navbar-toggler-icon"></span>
    </button>
    <!-- navbar links -->
    <div class="collapse navbar-collapse" id="collapsibleNavbar">
        <!-- added ml-auto to right align the menu on desktop -->
        <ul class="navbar-nav ml-auto">
            <li class="nav-item text-center">
                <a class="nav-link logo-font" href="{% url 'home' %}">
                <i class="fa fa-home" aria-hidden="true"></i>
                <p class="my-0">Home</p>
                </a>
            </li>
            <li class="nav-item dropdown text-center">
                <a class="nav-link logo-font" href="#" id="user-options" data-toggle="dropdown" aria-haspopup="true" aria-expanded="false">
                    <div><i class="fas fa-user fa-lg"></i></div>
                    <p class="my-0">My Account</p>
                </a>
                <div class="dropdown-menu bg-prp" aria-labelledby="user-options">
                    {% if request.user.is_authenticated %}
                        {% if request.user.is_superuser %}
                            <a href="{% url 'all_images_su' %}" class="dropdown-item">Image Management</a>
                        {% endif %}
                        <a href="{% url 'profile' %}" class="dropdown-item">My Profile</a>
                        <a href="{% url 'account_logout' %}" class="dropdown-item">Logout</a>
                    {% else %}
                        <a href="{% url 'account_signup' %}" class="dropdown-item">Register</a>
                        <a href="{% url 'account_login' %}" class="dropdown-item">Login</a>
                    {% endif %}
                </div>
            </li>
            <li class="nav-item text-center">
                <a class="{% if grand_total %}text-info font-weight-bold{% else %}text-black{% endif %} nav-link logo-font" href="{% url 'show_bag' %}">
                    <i class="fas fa-shopping-cart fa-lg"></i>
                    <p class="my-0">
                        {% if total %}
                            €{{ total|floatformat:2 }}
                        {% else %}
                            €0.00
                        {% endif %}
                    </p>
                </a>
            </li>
        </ul>
    </div>
</nav>