<div class="row m-2">
    <div class="col-lg-3"></div>
    <div class="col-lg-6">
        <form method="GET" action="{% url 'all_images' %}">
            <div class="input-group w-100">
                <input class="form-control border border-search rounded-10" type="text" name="q" placeholder="Search...">
                <div class="input-group-append">
                    <button class="form-control btn btn-search border rounded-10" type="submit">
                        <span class="icon">
                            <i class="fas fa-search"></i>
                        </span>
                    </button>
                </div>
            </div>
        </form>
    </div>
    <div class="col-lg-3">
        <button class="btn" type="submit">
            <a href="{% url 'all_images' %}">View All...</a>
        </button>
    </div>
</div>